.sidebar {
    position: fixed;
    padding: 0 0 20px;
    top: 0;
    bottom: 0;
    width: 15%;
    background: #ffffff;
    z-index: 9999;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    border-right: 1px solid #EEF2F7;
}

.sidebar .avatarArea {
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 3px solid rgb(249, 58, 11);
    position: relative;
    background: #EEF2F7;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
}

.avatar {
    height: 3rem;
    width: 3rem;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    position: relative;
    display: block;
}

.avatar::before {
    content: '';
    position: absolute;
    width: 115%;
    height: 115%;
    background: linear-gradient(0deg, rgb(249, 58, 11), blue, rgb(249, 58, 11));
    animation: avatar 4s linear infinite;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    background: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes avatar {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.userName {
    font-size: 1.1rem;
    line-height: 16px;
    font-weight: 500;
    color: #212130;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 16px;
    margin-bottom: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    color: #212130;
    padding: 1rem 2.1875rem;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 600;
    position: relative;
}

.sidebar ul li a.active {
    color: rgb(249, 58, 11);
    background: rgba(249, 58, 11, 0.1);
}

.sidebar ul li a.active::before, .sidebar ul li a:hover::before {
    position: absolute;
    content: "";
    background: rgb(249, 58, 11);
    width: 0.563rem;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 1.25rem;
}

.sidebar ul li a.active span, .sidebar ul li a.opened span {
    transform: rotate(90deg);
}

.sidebar ul li a:hover {
    color: rgb(249, 58, 11);
    background: rgba(249, 58, 11, 0.1);
}

.sidebar ul li ul a {
    padding: 0.5rem 2.1875rem;
}

.sidebar ul li ul a:hover {
    color: rgb(249, 58, 11);
    background: transparent;
}

.sidebar ul li ul a.active {
    color: rgb(249, 58, 11);
    background: transparent;
}

.sidebar ul li ul a.active::before {
    width: 0;
}

.sidebar ul li a i {
    margin-right: 1.25rem;
    font-size: 18px;
}

.dropdownIcon {
    margin-top: 3px;
}

.subMenu {
    padding-left: 30px !important;
    display: none;
}

.sidebar li a.active + ul {
    display: block
}
@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 22%;
    }
}