.topBar {
  height: 7.5rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 0 3rem 0 20.5rem;
  display: flex;
  align-items: center;
  top: 0;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.pageTitle {
  color: #212130;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0 40px 0 0;
  margin-bottom: 0;
  margin-left: 2rem;
}

.rightSide {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  margin-left: auto;
}

.fullScreen {
  background: transparent;
  border: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.fullScreen:hover {
  transform: scale(1.2);
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: relative;
  display: block;
  cursor: pointer;
}
.avatar img{
  width: 100% !important;
  height: 100% !important;
}
.avatar::before {
  content: '';
  position: absolute;
  width: 115%;
  height: 115%;
  background: linear-gradient(0deg, rgb(249, 58, 11), blue, rgb(249, 58, 11));
  animation: avatar 4s linear infinite;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar::after {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  background: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes avatar {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.userMenu{
  position: relative;
}
.userMenuContainer{
  position: absolute;
  right: 0;
  top: 4rem;
  background: #ffffff;
  box-shadow: 0 5px 20px rgba(173,181,189,.2);
  border-radius: 5px;
  display: none;
}

.userMenuContainer ul{
  list-style: none;
  padding: 10px 20px 20px;
  min-width: 250px;
}
.userMenuContainer ul li a{
  color: #212130;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 1px solid #dddddd;
}
.userMenuContainer ul li a i{
  margin-right: 10px;
}
.notification{
  color: rgb(249, 58, 11);
  font-size: 30px;
}
.userMenuContainer ul li a:hover{
  color: rgb(249, 58, 11);
}
.sidebarToggler{
  font-size: 20px;
  cursor: pointer;
}

.clock{
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: rgb(249, 58, 11);
}

@media only screen and (max-width: 1400px) {
  .topBar{
    padding-left: calc(17% + 24px);
    justify-content: flex-start;
    padding-right: 24px;
  }
  .rightSide{
    margin-left: auto;
  }
  .pageTitle{
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  .clock{
    font-size: 20px;
  }
  .notification{
    font-size: 1.5rem;
  }
}