.editProductPopup{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.4);
    z-index: 99999;
    height: 100%;
    color: #000000;
}
.editProductPopupContainer {
    position: absolute;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 2em 2rem;
    border-radius: 20px;
}