@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;;
    background: #EEF2F7 !important;;
}

a {
    text-decoration: none !important;;
}

a:focus-visible {
    outline: none;
}

.content {
    padding: 0 24px;
    margin: 10.5rem 0 0 0;
    width: calc(100% - 16%);
    float: right;
}

.content-pos {
    padding: 15px 24px 0;
    width: 100%;
}

.custom-card {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 1.25rem;
}

label {
    color: #212130 !important;
}

th, td {
    color: #212130 !important;
    vertical-align: middle;
}

.page-link {
    cursor: pointer;
}

.open {
    transform: rotate(90deg);
}

.paid {
    text-align: right;
}

.barcode-item p {
    margin-bottom: 0;
}

.barcode-item {
    text-align: center;
}

.autocompleteWrapper {
    position: relative;
}

.autocompleteItemContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #17171E;
    width: 100%;
    border-radius: .25rem;
    overflow-x: scroll;
    max-height: 250px;
}

.autocompleteItem {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: .25rem;
}

.autocompleteItem:hover {
    background-color: rgba(249, 58, 11, 1);
    cursor: pointer;
}

.page-item .page-link {
    color: rgb(249, 58, 11) !important;
    background: rgba(249, 58, 11, 0.1) !important;
    border-color: rgb(249, 58, 11) !important;
}

.page-item.active .page-link {
    background-color: rgb(249, 58, 11) !important;
    border-color: rgb(249, 58, 11) !important;
    color: #ffffff !important;
}

.btn-success {
    color: #fff;
    background-color: rgb(249, 58, 11) !important;
    border-color: rgb(249, 58, 11) !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #CC2C05 !important;
    border-color: #CC2C05 !important;
}

table {
    border-collapse: collapse;
}

.btn-check:active + .btn-success:focus, .btn-check:checked + .btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: none !important;
    background-color: rgb(249, 58, 11) !important;;
    border-color: rgb(249, 58, 11) !important;;
}

.loader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.loader-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.loader-animation .face {
    position: absolute;
    border: 2px solid #121212;
}

.loader-animation .face.face1 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #090909;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 50%;
    border-left: 2px solid #ffff00;
    border-top: 2px solid #ffff00;
    animation: loading 1s linear infinite;
}

.loader-animation .face.face2 {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: #090909;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 50%;
    border-right: 2px solid #f93a0b;
    border-bottom: 2px solid #f93a0b;
    animation: loading 1s linear reverse infinite;
}

.loader-animation .face .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
}

.loader-animation .face .circle:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    top: -4px;
    right: -6px;
}

.loader-animation .face.face1 .circle:before {
    background: #ffff00;
    box-shadow: 0 0 20px #ffff00, 0 0 40px #ffff00, 0 0 60px #ffff00, 0 0 80px #ffff00, 0 0 100px #ffff00, 0 0 0 5px rgba(255, 255, 0, .1);
}

.loader-animation .face.face2 .circle:before {
    background: #f93a0b;
    box-shadow: 0 0 20px #f93a0b, 0 0 40px #f93a0b, 0 0 60px #f93a0b, 0 0 80px #f93a0b, 0 0 100px #f93a0b, 0 0 0 5px rgba(249, 58, 11, .1);
}

.loader-animation .face.face1 .circle {
    transform: rotate(-45deg);
}

.loader-animation .face.face2 .circle {
    transform: rotate(-45deg);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.Toastify__toast-container {
    z-index: 9999999999 !important;
}

.btn-check:focus + .btn-success, .btn-success:focus {
    box-shadow: none !important;
    background-color: rgb(249, 58, 11) !important;;
    border-color: rgb(249, 58, 11) !important;;
}

.payment-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.9);
    color: #ffffff;
    z-index: 99999;
    height: 100%;
    display: none;
}

.invoiceModal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.4);
    color: #ffffff;
    z-index: 99999;
    height: 100%;
}

.invoiceModalContainer {
    position: absolute;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80mm;
    padding: 2em 10px;
    border-radius: 20px;
}

.payment-modal-container {
    position: absolute;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2em 3em;
    border-radius: 20px;
}

.invoiceModal {
    color: #000000;
}

.invoiceModal h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.invoiceModal p {
    margin-bottom: 0;
}

.invoiceModal .invoiceRow {
    margin-top: 10px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}

.invoiceModal .invoiceRow .date {
    width: 60%;
    float: left;
    display: block;
    overflow: hidden;
    text-align: left;
}

.invoiceModal .invoiceRow .invNum {
    width: 40%;
    display: block;
    text-align: right;
    overflow: hidden;
}

.invoiceModal th {
    font-size: 13px;
    font-weight: normal;
    padding-right: 0;
}

.invoiceModal td {
    font-size: 12px;
    padding-right: 0;
}

.payment-modal .title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #212130;
}

.payment-modal .close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 25px;
    color: #212130;
}

.close span {
    cursor: pointer;
}

.no-border {
    border: none;
}

.paid {
    text-align: left;
}

.searchWrapper {
    background: #ffffff;
}

.chip {
    background: rgb(249, 58, 11) !important;
}

.highlightOption {
    background: rgb(249, 58, 11) !important;
}

.multiSelectContainer li:hover {
    background: #212130 !important;
}

.uploadBtn {
    border: none;
    position: relative;
    width: 160px;
    height: 40px;
    background: rgb(249, 58, 11);
    color: #ffffff;
    border-radius: 5px;
}

.uploadPreview {
    max-width: 100px;
    margin-bottom: 1rem;
}

.removeBtn {
    border: none;
    position: relative;
    width: 160px;
    height: 40px;
    background: red;
    color: #ffffff;
    border-radius: 5px;
}

.logoImage {
    display: block;
    margin-top: 10px;
    max-width: 100px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgba(249, 58, 11, 0);
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(249, 58, 11, .5);
}

.border-left-none {
    border-left: none !important;
}

.border-right-none {
    border-right: none !important;
}

.border-right-1 {
    border-right: 1px solid;
}

.customer-input, .date-input, .barcode-scanner, .search-product-input-wrapper {
    position: relative;
}

.customer-input .customer-icon, .date-input .date-icon, .barcode-scanner .barcode-icon, .search-product-input-wrapper .search-icon {
    position: absolute;
    top: 49%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 9;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barcodeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product input {
    padding-left: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.customer-input .customer-add-icon {
    position: absolute;
    top: 49%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 9;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(249, 58, 11);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: #ffffff;
}

.pos-icon-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 0;
    margin-bottom: 0;
}

.pos-icon-list li a {
    background: rgb(249, 58, 11);
    color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.cat-item {
    min-width: 100px;
}

.cat-item a {
    display: block;
    white-space: nowrap;
    background: #eff3f6;
}

.cat-item a:hover {
    background: rgb(249, 58, 11);
    color: #ffffff;
}

.swiper-slide {
    width: auto !important;
}

.products-wrapper {
    margin-top: 20px;
    text-align: center;
    height: 95%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.products-wrapper::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-item {
    width: calc(20% - 10px);
    background: #EEF2F7;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.product-item:hover {
    background: rgb(249, 58, 11);
    color: #ffffff;
}

.product-item p {
    margin-bottom: 0;
}

.product-item .name {
    font-weight: bold;
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.left-card, .right-card {
    height: 88vh;
}

.product-table {
    height: 68%;
    overflow-y: scroll;
}

.product-table tr {
    border-bottom: 1px solid #eeeeee;
}

.subtotal-area {
    padding-top: 2rem;
}

.pay-btn {
    background: #0ac074 !important;
    border-color: #0ac074 !important;
}

.pay-btn:hover {
    background-color: #2fc989 !important;
    border-color: #23c682 !important;
}

.payment-area .btn {
    border-radius: .625rem !important;
}

.btn {
    outline: transparent !important;
    box-shadow: none !important;
}

.productQuantity {
    text-align: center;
}

.payment-modal label {
    color: #212130 !important;
    font-size: 20px;
}

.payment-modal td {
    font-size: 17px;
    font-weight: 600;
}

.ttl, .ttl td {
    font-size: 22px !important;
    color: rgb(249, 58, 11) !important;
}

.product-qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-radius-0 {
    border-radius: 0;
}

.product-increment button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .376rem .75rem;
}

.product-decrement button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .376rem .75rem;
}

.barcode-grid {
    display: table;
    width: 100%;
    page-break-inside: auto;
}

.barcode-grid .barcode-item {
    width: calc(14.28% - 10px);
    display: inline-table;
    border: 1px solid #eeeeee;
    margin-right: 10px;
    color: #000000;
    padding: 5px 6px;
    page-break-inside: avoid;
    page-break-after: auto
}

@media print {
    .no-print {
        display: none !important;
    }

    .invoiceModalContainer {
        position: static !important;
        transform: none !important;
    }

    .barcode-grid {
        page-break-inside: auto !important;
    }

    .barcode-grid .barcode-item {
        page-break-inside: avoid !important;
        page-break-after: auto !important;
    }
}

@media only screen and (max-width: 1200px) {
    .product-item {
        width: calc(25% - 10px);
        padding: 10px;
    }

    .product-item p {
        font-size: 13px;
    }

    .sidebar{
        left: -100%;
        transition: all 0.3s;
    }
    .sidebar.sidebar-show{
        left: 0;
    }
    .content{
        margin: 10.5rem auto 0;
        width: calc(100% - 3rem);
    }
}